/* This is the css block for common css */
/*  Author: kntrieu */
/*  Date create:  August 14, 2018 */
.knt {

    

    @media only screen and (min-width: 993px) {
        .k-container {
            margin-left: 310px;
            margin-top: 10px;
        }
    }
}

