<ul id="slide-out" class="k-sidebar sidenav sidenav-fixed  light-blue darken-1">
    <li>
        <a href="#!" title="{{ 'SIDE_BAR.HOME' | translate}}">
            <i class="icon-home"></i>{{ 'SIDE_BAR.HOME' | translate}}</a>
    </li>
    <li>
        <a href="#!" title="{{ 'SIDE_BAR.YOUR_PLAYLIST' | translate}}">
            <i class="icon-view_list"></i>{{ 'SIDE_BAR.YOUR_PLAYLIST' | translate}}</a>
    </li>
    <li>
        <a href="#!" title="{{ 'SIDE_BAR.TRENDING' | translate}}">
            <i class="icon-trending_up"></i>{{ 'SIDE_BAR.TRENDING' | translate}}</a>
    </li>
    <li>
        <a class="" title="{{ 'SIDE_BAR.HELP' | translate}}">
            <i class="icon-help"></i>{{ 'SIDE_BAR.HELP' | translate}}</a>
    </li>
    <li>
        <a href="#!" title="{{ 'SIDE_BAR.FEED_BACK' | translate}}">
            <i class="icon-perm_phone_msg"></i>{{ 'SIDE_BAR.FEED_BACK' | translate}}</a>
    </li>
</ul>

<ul id="sidenav-hidden" class="sidenav k-sidebar light-blue darken-1">
    <li>
        <a href="#!" title="{{ 'SIDE_BAR.HOME' | translate}}">
            <i class="icon-home"></i>{{ 'SIDE_BAR.HOME' | translate}}</a>
    </li>
    <li>
        <a href="#!" title="{{ 'SIDE_BAR.YOUR_PLAYLIST' | translate}}">
            <i class="icon-view_list"></i>{{ 'SIDE_BAR.YOUR_PLAYLIST' | translate}}</a>
    </li>
    <li>
        <a href="#!" title="{{ 'SIDE_BAR.TRENDING' | translate}}">
            <i class="icon-trending_up"></i>{{ 'SIDE_BAR.TRENDING' | translate}}</a>
    </li>
    <li>
        <a class="" title="{{ 'SIDE_BAR.HELP' | translate}}">
            <i class="icon-help"></i>{{ 'SIDE_BAR.HELP' | translate}}</a>
    </li>
    <li>
        <a href="#!" title="{{ 'SIDE_BAR.FEED_BACK' | translate}}">
            <i class="icon-perm_phone_msg"></i>{{ 'SIDE_BAR.FEED_BACK' | translate}}</a>
    </li>
</ul>
