.knt {
    .k-sidebar {
        top: inherit;
        box-shadow: none;
        a {
            color: white;
            i {
                font-size: 20px;
                line-height: 40px;
                color: white;
                margin-right: 10px;
            }
        }
        
    }
}